<%= form_with(model: @post, local: true, multipart: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, 'error') %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-container">
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 1 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/jpeg,image/png,image/gif' %>
  </div>
  
  <div class="field">
    <%= form.label :video %>
    <%= form.file_field :video, accept: 'video/mp4,video/x-matroska,video/avi,video/quicktime' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create' %>
  </div>
</div>  
<% end %>
<style>
body {
  background-image: url('http://s1.bwallpapers.com/wallpapers/2014/03/04/pink-color-1080p-wallpaper_111931182.png'); /* Replace with the path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  /* You can also add other background styles, e.g., background-color */
  /* background-color: #fff; */
}
.form-container {
  max-width: 400px; /* Adjust the width as needed */
  margin: 0 auto; /* Center horizontally */
  padding: 20px; /* Add padding for spacing */
  border: 1px solid #ddd; /* Add a border for visual separation */
  border-radius: 10px; /* Add rounded corners for style */
  background-color: #87CEEB; /* Light blue background color */
}

.field {
  margin-bottom: 10px; /* Add spacing between fields */
}

.actions {
  text-align: center; /* Center-align the submit button */
}
</style>
