<%= form_with(model: @post, local: true, multipart: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, 'error') %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 1 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, accept: 'image/jpeg,image/png,image/gif' %>
  </div>
  
  <div class="field">
    <%= form.label :video %>
    <%= form.file_field :video, accept: 'video/mp4,video/x-matroska,video/avi,video/quicktime' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create' %>
  </div>
  
<% end %>
